<?xml version="1.0" encoding="UTF-8"?>
<app>
  <highscores>
   <step id="1" name="Serega">400</step>
   <step id="2" name="Ivan">350</step>
   <step id="3" name="Andrey">210</step>
   <step id="4" name="Nikita">200</step>
   <step id="5" name="Rustam">50</step>
   <step id="6" name="Kirill">45</step>
   <step id="7" name="Manager">20</step>
   <step id="8" name="Nikita2">18</step>
   <step id="9" name="Stepan">5</step>
   <step id="10" name="Oleg">2</step>
  </highscores>
</app>
